.text1{
      color: rgb(255, 255, 255);
      margin-left: auto; margin-right: auto;   }
      .senter{ margin-bottom: 20px;
       margin-left: auto; margin-right: auto;
              background-color: rgb(244, 79, 79);  
              text-align: center;}
.maincontent{
          margin: 10px; padding: 10px;}
 #parent{display: flex;
        justify-content: space-between;}    
 .content{border: 3px solid; border-color: rgb(238,204,204); 
              flex-basis: 25%;
        text-align: center;
         padding: 10px 15px; margin: 20px 0px;}
 h2{font-size: 25px; border-bottom: 3px dotted;border-bottom-color: rgb(236, 122, 122);}
 h2::before{content:"â—";color: rgb(239, 111, 139); }
 
 .content > p:nth-of-type(2)::first-letter {color: rgb(97, 206, 249);
                                          font-weight: bold; 
                                         }
.content{margin: 10px; width: 70%;}
footer{background-color: rgb(244, 79, 79);
       text-align: center; }
a{color: rgb(255, 255, 255);}
a:visited{color: rgb(93, 234, 251);}
a:hover{color: rgb(245, 178, 168);}
@media screen and (max-width: 768px) {
       #parent {
         flex-direction: column;
       }
       .content {
         margin: 20px auto;
         width: 70%;
         }
       }
.images{width: 100%;}
@media screen and (max-width: 768px){ 
       .font{font-size: 20px;}
       .font2{font-size: 25px;}
}